Code/Cluster

Code/cross-validation.R

Data/Birds_data/Atlas_data/PNAE_predictedvalues.csv

Data/Land_covers/UsosCobertes_2017/MUCSC_2017_10_m_v_4.tif

Models/Aedes_albopictus/brms_models/albopictus_model_nb.RData

Models/Aedes_albopictus/brms_models/albopictus_model_zinb.RData

Models/Aedes_albopictus/glm_models/albopictus_model.RData

Models/Aedes_albopictus/glm_models/full_model.RData

Models/Culex/brms_models/culex_model_zinb.RData

Models/Culex/glm_models/culex_model.RData

Models/Culex/glm_models/full_model.RData

Plots/Aedes_albopictus/albopictus_map_0.jpg

Plots/Aedes_albopictus/albopictus_temporal_variability.jpg

Plots/Aedes_albopictus/plot_2015.jpg

Plots/Aedes_albopictus/plot_2016.jpg

Plots/Aedes_albopictus/plot_2017.jpg

Plots/Aedes_albopictus/plot_2018.jpg

Plots/Aedes_albopictus/raw_data_plot.jpg

Plots/Culex/culex_map_0.jpg

Plots/Culex/culex_temporal_variability.jpg

Plots/Culex/plot_2015.jpg

Plots/Culex/plot_2016.jpg

Plots/Culex/plot_2017.jpg

Plots/Culex/plot_2018.jpg

Plots/Culex/raw_data_plot.jpg

Plots/Birds/kmeans_plot.svg

Plots/Birds/mean_curves_family.jpg

Plots/Birds/mean_curves_order.jpg

Plots/Birds/rda_plot.svg

Plots/Birds/species_curves.jpg

Prediction/Aedes_albopictus/albopictus_spatial_prediction.dbf

Prediction/Aedes_albopictus/albopictus_spatial_prediction.prj

Prediction/Aedes_albopictus/albopictus_spatial_prediction.shp

Prediction/Aedes_albopictus/albopictus_spatial_prediction.shx

Prediction/Aedes_albopictus/pred.csv

Prediction/Aedes_albopictus/prediction_prep.RData

Prediction/Culex/culex_spatial_prediction.dbf

Prediction/Culex/culex_spatial_prediction.prj

Prediction/Culex/culex_spatial_prediction.shp

Prediction/Culex/culex_spatial_prediction.shx

Prediction/Culex/culex_UTM1x1.csv

Prediction/Culex/pred.csv

Prediction/Culex/prediction_prep.RData



